body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 360px;
}
.btn1{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1,.btn2{
    color: red;

}
.btn1:hover,.btn2:hover{
    color: red;
}
.btn::before{
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before,.btn2::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before,.btn2:hover::before{
    height: 180%;
}